<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <table border=1>
        <tr>
            <th>{{form.name.label}}</th>
            <th>{{form.name}}</th>
        </tr>
        <tr>
            <th>{{form.gender.label}}</th>
            <th>{{form.gender.data}}</th>
        </tr>
        <tr>
            <th>{{form.Address.label}}</th>
            <th>{{form.Address}}</th>
        </tr>
        <tr>
            <th>{{form.email.label}}</th>
            <th>{{form.email}}</th>
        </tr>
        <tr>
            <th>{{form.Age.label}}</th>
            <th>{{form.Age}}</th>
        </tr>
        <tr>
            <th>{{form.language.label}}</th>
            <th>{{form.language.data}}</th>
        </tr>
    </table>
</body>
</html>